.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.idea/advent-of-code-challenges.iml
/.idea/compiler.xml
/.idea/.name
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
